services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on: []

  adminer:
    image: adminer
    ports:
      - "8080:8080"
